<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t "create_question" %></h4>
      </div>
      <div class="panel-body">
        <%= form_for [current_user, @question] do |f| %>
        <%= render "question_form", f: f %>
        <%= f.submit t("create_question"),
          class: "btn btn-primary col-md-12" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
