<%= render "exams/question_info", f: f %>
<tr>
  <td colspan="2">
    <div class="checkbox">
      <label>
        <%= f.check_box :correct %>
        <%= f.label :answer_correct %>
      </label>
    </div>
  </td>
</tr>
