<div class="row">
  <div class="col-md-12">
    <%= form_for [:admin, @exam] do |f| %>
      <%= f.fields_for :results do |result| %>
        <table class="table table-striped">
          <tbody>
            <%= render "question", f: result %>
          </tbody>
        </table>
      <% end %>
      <%= f.submit t("update"),
        class: "btn btn-primary col-md-3 pull-left" %>
    <% end %>
  </div>
</div>
