<div class="col-md-12">
  <%= form_for @exam do |f| -%>
    <div class="col-md-4">
      <%= f.collection_select :category_id, @categories, :id, :name, {},
        class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.submit t("create_exam"), class: "btn btn-primary" %>
    </div>
  <% end -%>
</div>
