<%= render "question_info", f: f %>
<% if f.object.exam.checked? %>
  <tr>
    <td colspan="2">
      <div class="checkbox">
        <label>
          <%= f.check_box :correct, disabled: true %>
          <%= f.label :answer_correct %>
        </label>
      </div>
    </td>
  </tr>
<% end %>
